/*** global ***/
a {
	color: #1155CC;
	cursor: pointer;
	text-decoration: none;
}
a:hover, a:focus {
	outline: none;
	text-decoration: underline;
}
a[title] {
	text-decoration: none;
}

body {
	font-size: 12px;
	border: 1px solid #E8EAED;
	border-top: none;
	padding: 0 1px;
	width: 300px;
}
body > fieldset {
	display: none;
}

input {
    border: 1px solid #E8EAED;
    border-radius: 5px;
    padding: 0 9px;
    width: calc(100% - 9px);
}

button {
    color: #1A73E8;
    background: transparent;
    font-weight: bold;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 5px;
}

fieldset {
	padding: 9px 32px;
	margin-top: 9px;
}

hr {
	border-top: 1px solid #E8EAED;
	margin: 4px auto;
}

ul {
	margin: 4px 0;
	padding-left: 20px;
}

.box {
	display: -webkit-box;
}

.flex {
	-webkit-box-flex: 1;
	display: block;
}


/*** main view ***/
#main {
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

#edit-saved, #main-saved {
	border-bottom: 1px solid #E8EAED;
}

#main-saved-temp {
	font-style: italic;
	text-align: center;
}

#edit-saved-session, #main-saved-list {
	font-size: 90%;
	line-height: 140%;
}
#edit-saved-session::-webkit-scrollbar, #main-saved-list::-webkit-scrollbar {
	width: 8px;
}
#edit-saved-session::-webkit-scrollbar-thumb, #main-saved-list::-webkit-scrollbar-thumb {
	background: #B2B2B2;
}
#main-saved-list > div > big:hover {
	color: #B2B2B2;
	cursor: pointer;
	border-bottom: 1px dashed #B2B2B2;
}
#edit-saved-session > div > big + a, #main-saved-list > div > big + a {
	float: right;
	font-size: larger;
	margin-top: -3px;
}
#edit-saved-session > div > span, #main-saved-list > div > span {
	float: right;
}
#main-changelog {
	background: #DDD;
	display: none;
}

.scroll   {
    padding-right: 14px;
}
.scroll #main-saved-temp {
	margin-right: 18px;
}
.scroll #edit-saved-session, .scroll #main-saved-list {
    padding-right: 5px;
    max-height: 400px;
    overflow: auto;
}
.scroll #edit-saved-session > div, .scroll #main-saved-list > div {
    padding-right: 5px;
}



/*** import view ***/
#rename input {
	-webkit-box-flex: unset;
	width: calc(100% - 20px);
	height: 32px;
	margin-bottom: 43px;
}

#rename button, #edit button {
	margin-left: -100%;
	position: relative;
	top: 43px;
}

#rename button + button, #edit button + button {
	margin-left: 5px;
	position: relative;
	top: 43px;
}

#edit button {
    position: unset!important;
}

#edit .box>div {
	-webkit-box-flex: unset;
	width: 100%;
	height: 32px;
}


/*** edit view ***/
#edit {
	display: none;
}
#edit a {
	max-width: 215px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*** import view ***/
#import-file {
	width: 1px;
}

#import-message {
	display: none;
}


/*** export view ***/
#export > span, #confirm > span {
	float: right;
	padding: 16px 0 5px;
}

#export-check {
	color: #F00;
	display: none;
}
